<header>
  <h1>Projects</h1>
</header>

<table class="table table-striped table-hover projects">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Tickets</th>
      <th scope="col">New Tickets</th>
      <th scope="col">Closed Tickets</th>
      <th scope="col">Active Tickets</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @projects %>
  </tbody>
</table>
